.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
package-lock.json
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vue2-manage.iml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/dictionaries/Williamhiler.xml
.idea/inspectionProfiles/Project_Default.xml
manage/favicon.ico
manage/index.html
manage/static/css/app.58c60500d66173434b968f57fcae2216.css
manage/static/fonts/element-icons.535877f.woff
manage/static/fonts/element-icons.732389d.ttf
manage/static/img/avatar.png
manage/static/js/0.26abacf349414c791e4c.js
manage/static/js/1.0c9d87450c94c6bde642.js
manage/static/js/2.573f7a271569049e8964.js
manage/static/js/3.1d98b0d2c8a53284160b.js
manage/static/js/4.76f6218d796966deb394.js
manage/static/js/5.a1c91861e04697f3678e.js
manage/static/js/6.11b3e68c829fbb4287d1.js
manage/static/js/7.4e060af0b5542b3c3f65.js
manage/static/js/8.e9f58b5506ef07039d2b.js
manage/static/js/9.39c5802ee3ff76922e80.js
manage/static/js/10.3c2b8ef3ac3dd7013db6.js
manage/static/js/11.0c68d71fe76a86714346.js
manage/static/js/app.16b9b4ce1cfee88db99f.js
manage/static/js/manifest.9787d631813b9ec513eb.js
manage/static/js/vendor.7490b07854fb9a7b6239.js
.gitignore
application.log
